
---

version: '3'
services:
  mysql:
    image: mysql:5.7
    ports:
    - "3306:3306"
    environment:
      - MYSQL_USER=nova
      - MYSQL_PASSWORD=nova
      - MYSQL_DATABASE=nova
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
  redis:
    image: redis
    ports:
      - "6379:6379"
  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
