.horizontal-ad-slot { width: 320px; height: 100px; }
@media (min-width:500px) { .horizontal-ad-slot { width: 468px; height: 60px; } }
@media (min-width:800px) { .horizontal-ad-slot { width: 728px; height: 90px; } }
