#blog {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    color: white;
    background-color: $off-black;

    .prose {
        b, strong, h1, h2, h3, h4, h5, h6, thead, tbody, tr, th, td {
            color: white;
        }
    }

    a, a:visited {
        color: $orange;
    }
    a:hover {
        text-decoration: underline;
    }
}
