// Builder Re-work

#loadout-builder {
    .classSelectContainer {
        border-top: 5px solid #fc9e00;
        display: flex;
        flex-wrap: wrap;

        h1 {
            margin: 0;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 2rem;
        }

        .classSelect {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                background: #fc9e00;
            }
            h2 {
                color: #ada195;
                padding-left: 1rem;
                padding-right: 2rem;
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                margin-inline-end: 0;
            }
            img {
                opacity: 0.4;
            }
        }

        .classSelectActive {
            h2 {
                color: #ffffff;
            }
            img {
                opacity: 1;
            }
        }

        @media (max-width: 770px) {
            h1 {
                width: 100%;
            }

            .classSelect {
                width: 50%;
                .classIcon {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .tui-editor-defaultUI h1, .tui-editor-defaultUI h2, .tui-editor-defaultUI h3, .tui-editor-defaultUI h4 {
        color: #000000;
    }
    .tui-editor-defaultUI-toolbar {
        background: #18110bba;
    }
    .tui-editor-defaultUI-toolbar button {
        background-color:#fc9e00;
    }
    .tui-toolbar-icons {
        background:none; /* Remove default png sprite icons */
    }
    .tui-editor-defaultUI button.tui-scrollsync, .tui-editor-defaultUI button.tui-scrollsync.active {
        color: #000000;
    }
}
