// Builder Re-work

#loadout-builder {
    .classSelectContainer {
        border-top: 5px solid #fc9e00;
        display: flex;
        flex-wrap: wrap;

        h1 {
            margin: 0;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 2rem;
        }

        .classSelect {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                background: #fc9e00;
            }
            h2 {
                color: #ada195;
                padding-left: 1rem;
                padding-right: 2rem;
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                margin-inline-end: 0;
            }
            img {
                opacity: 0.2;
            }
        }

        .classSelectActive {
            h2 {
                color: #ffffff;
            }
            img {
                opacity: 1;
            }
        }

        @media (max-width: 770px) {
            h1 {
                width: 100%;
            }

            .classSelect {
                width: 50%;
                .classIcon {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    h2 {
        width: 11rem;
    }

    .displayNone {
        display: none !important;
    }

    .levelIndicator {
        margin: 0;
        font-size: 1rem;
        font-style: normal;
        font-weight: normal;
    }

    .modSelection {
        flex: 1;
        height: 100%;
        width: 100%;
        padding-left: 1rem;
    }

    .modificationName {
        font-size: 1.2rem;
    }

    .modSelectionTitle {
        width: 100%;
        /*background-color: #282117;*/
        color: #fffbff;
        font-size: 1.2rem;
        text-align: center;
    }

    .tierContainer {
        height: 4.5rem;
        display: flex;
        /*padding-top: 0.5rem;
              padding-bottom: 0.5rem;*/
        justify-content: flex-start;
        align-items: center;
        color: #282117;
    }

    .overclockContainer {
        display: flex;
        /*padding-top: 0.5rem;
              padding-bottom: 0.5rem;*/
        justify-content: flex-start;
        align-items: center;
        color: #282117;
    }

    .overclockGrid {
        width: auto !important;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 6rem 6rem 6rem;
        grid-template-rows: 6rem 6rem 6rem;
        justify-items: center;
        background-color: rgba(91, 64, 45, 0.75);
        border-color: rgb(255, 255, 255);
        border-style: solid;
        padding: 10px 5px 10px 5px;
    }

    .tierSubContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .tierBackgroundGradient {
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 40%,
                rgba(40, 33, 23, 1) 40%,
                rgba(40, 33, 23, 1) 60%,
                rgba(0, 0, 0, 0) 60%
            )
            no-repeat;
        background-size: 100% 100%;
    }

    .tierBackgroundGradientHalf {
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 40%,
                rgba(40, 33, 23, 1) 40%,
                rgba(40, 33, 23, 1) 60%,
                rgba(0, 0, 0, 0) 60%
            )
            no-repeat;
        background-size: 50% 100%;
    }

    .overclockBackground {
        fill: #000000;
        stroke: #000000;
    }

    .modBackground {
        fill: #111927;
        stroke: #fc9e00;
        stroke-width: 2px;
    }

    .modBackgroundActive {
        fill: #fc9e00;
        stroke: #fffbff;
        stroke-width: 2px;
    }

    .overclockBackground {
        fill: #000000;
        stroke: none;
        stroke-width: 2px;
    }

    .overclockBackgroundActive {
        fill: #fc9e00;
        /*stroke: #fffbff;*/
        stroke-width: 2px;
    }

    .modBackgroundActiveNoStroke {
        fill: #fc9e00;
        stroke-width: 0px;
    }

    .modIcon {
        fill: #ada194;
        stroke: none;
    }

    .modIcon.selectedOverclock {
        fill: #ada195;
    }

    .modIconActive {
        fill: #000000;
        stroke: none;
    }

    .overclockIconActive {
        fill: #ada195;
        stroke: none;
    }

    .modPadding {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .modDisplay {
        cursor: pointer;
        height: 4rem;
        width: 6rem;
    }

    .overclockDisplay {
        cursor: pointer;
        height: 6rem;
        width: 100%;
    }

    .hundredPercent {
        width: 100%;
    }

    .pseudoModDisplay {
        height: 4rem;
        width: 6rem;
    }

    .modDisplay:hover .modBackground,
    .modDisplay:hover .overclockBackground,
    .modDisplay:hover .overclockBackgroundActive,
    .overclockDisplay:hover .overclockBackground {
        stroke: #fffbff;
    }

    .modDisplay:hover .modBackgroundActive {
        fill: #fccc00;
    }

    .modTextBox {
        min-height: 11rem;
        padding-top: 1rem;
        color: #fffbff;
    }

    .modTextBoxIcon {
        height: 5rem;
    }

    .modTextBoxHeader {
        display: flex;
        padding-bottom: 1rem;
    }

    .modTextBoxTitle p {
        margin: 0;
    }

    .increaseOverBase {
        color: rgba(255, 251, 255, 0.4);
        padding-top: 1rem;
    }

    .loadoutModal .vm--modal {
        background-color: #000;
        padding: 1rem;
    }

    @media (max-width: 770px) {
        .modSelection {
            flex: 0 0 100%;
            order: 1;
            padding: 0;
        }

        .tierSubContainer {
            max-width: 30rem;
        }
    }

    @media (max-width: 550px) {
        .modDisplay {
            height: 3rem;
            width: 4.8rem;
        }

        .pseudoModDisplay {
            height: 3rem;
            width: 4.8rem;
        }

        h2 {
            width: 20vw;
            margin: 0;
        }

        .modificationName {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 400px) {
        .overclockGrid {
            left: 5% !important;
            width: 90% !important;
        }
    }

    .tui-editor-defaultUI h1,
    .tui-editor-defaultUI h2,
    .tui-editor-defaultUI h3,
    .tui-editor-defaultUI h4 {
        color: #000000;
    }
    .tui-editor-defaultUI-toolbar {
        background: #18110bba;
    }
    .tui-editor-defaultUI-toolbar button {
        background-color: #fc9e00;
    }
    .tui-toolbar-icons {
        background: none; /* Remove default png sprite icons */
    }
    .tui-editor-defaultUI button.tui-scrollsync,
    .tui-editor-defaultUI button.tui-scrollsync.active {
        color: #000000;
    }


    /** Weapon Selector */
    /* todo: proper styles for this stuff, it's messy atm */
    h4 {
        white-space: nowrap;
    }

    .equipmentActive {
        background-color: #fc9e00;
        color: #352e1e;
    }

    .equipment {
        background-color: #111927;
        color: #352e1e;
    }

    .equipmentIcon {
        fill: #ada195;
    }

    .equipmentIconActive {
        fill: #fffbff;
    }

    h4 {
        margin: 0;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .largeText {
        font-size: 1.4rem;
    }

    .equipmentText {
        flex: auto;
        padding-left: 0.5rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #4B5563;
        color: #ada195;
        text-align: center;
    }

    .equipmentTextActive {
        background-color: #111927;
        color: #fffbff;
    }

    .weaponSelectContainer {
        flex: auto;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        height: 100%;
    }

    .weaponSelectContainer:hover .equipmentText {
        color: #fffbff;
    }

    .weaponSelectContainer:hover .equipmentIcon {
        fill: #fffbff;
    }

    .flexboxWeaponSelect {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
    }

    .flexboxWeaponSelect > svg {
        margin: 0.5rem;
    }
    .error {
        color: red;
    }
}
