.previewHeaderBackground {
    width: 100%;
    /*background: linear-gradient(0deg, rgba(34, 193, 195, 0) 0%, #352e1e 100%);*/
}

.previewHeaderContainer {
    /* height: 20rem; */
    /*background-color: #352e1e;*/
    margin-bottom: 2rem;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previewFooter {
    display: flex;
    justify-content: space-between;
}

.imageD {
    background-image: url("/assets/img/full-D_image.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right -10% top -10%;
}

.imageE {
    background-image: url("/assets/img/full-E_image.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right -5% top -10%;
}

.imageG {
    background-image: url("/assets/img/full-G_image.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right -10% top -10%;
}

.imageS {
    background-image: url("/assets/img/full-S_image.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right -5% top -10%;
}

.disabled {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.bosco-salute {
    display: block;
    margin: auto;
}

.loadoutDescription {
    white-space: pre-line; /* for those that don't know break-spaces */
}

.loadoutDescription {
    white-space: break-spaces;
}
.invertIcon {
    transform: rotate(180deg);
}

.previewModOuter {
    stroke: #fc9e00;
    fill: #0000;
    stroke-width: 5px;
}

.previewModOuterActive {
    fill: #fc9e00;
    stroke-width: 5px;
}

.previewModIcon {
    stroke: #FFF;
    stroke-width: 3px;
}

.previewModIconActive {
    stroke: #000;
    stroke-width: 3px;
}

#equipmentCards {
    .modIcon {
        fill: #FFF;
    }
}

@media (max-width: 770px) {
    .equipmentCards {
        flex-wrap: wrap;
    }

    .imageD {
        background-position: bottom -50px right -40px;
        background-size: 300px;
    }

    .imageE {
        background-position: bottom -150px right -40px;
        background-size: 250px;
    }

    .imageG {
        background-position: bottom -50px right -40px;
        background-size: 300px;
    }

    .imageS {
        background-position: bottom -150px right -40px;
        background-size: 250px;
    }

    .buttonContainer {
        flex-wrap: wrap;
    }
}