@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "_builder";
@import "_preview";

.tui-editor-contents * {
    color: white!important;
}
.te-ww-mode .te-editor * {
    color: black !important;
}
.tui-editor-defaultUI-toolbar button {
    border-color: #000;
}

.tui-toolbar-icons {
    &::before {
        font: normal normal normal 14px/1 FontAwesome;
        color: #000;
    }

    &.tui-heading::before {
        content: '\f1dc';
    }

    &.tui-bold::before {
        content: '\f032';
    }

    &.tui-italic::before {
        content: '\f033';
    }

    &.tui-strike::before {
        content: '\f0cc';
    }

    &.tui-hrline::before {
        content: '\f068';
    }

    &.tui-quote::before {
        content: '\f10d';
    }

    &.tui-ul::before {
        content: '\f0ca';
    }

    &.tui-ol::before {
        content: '\f0cb';
    }

    &.tui-task::before {
        content: '\f046';
    }

    &.tui-indent::before {
        content: '\f03c';
    }

    &.tui-outdent::before {
        content: '\f03b';
    }

    &.tui-table::before {
        content: '\f0ce';
    }

    &.tui-image::before {
        content: '\f03e';
    }

    &.tui-link::before {
        content: '\f0c1';
    }

    &.tui-code::before {
        content: '\f121';
    }

    &.tui-codeblock::before {
        content: 'CB';
        font-family: monospace;
    }

    &.tui-more::before {
        content: '\f141';
    }

    &.tui-color::before {
        content: '\f031';
    }
}

.tooltip {
    display: block !important;
    max-width: 20rem;
    z-index: 10000;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 0;
        padding: 5px 10px 4px;
    }
    &[x-placement^="top"] {
        margin-bottom: 5px;
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;
    }

    &[x-placement^="right"] {
        margin-left: 5px;
    }

    &[x-placement^="left"] {
        margin-right: 5px;
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }

    &.info {
        $color: rgba(#004499, .9);

        .tooltip-inner {
            background: $color;
            color: white;
            padding: 24px;
            border-radius: 0;
            box-shadow: 0 5px 30px rgba(black, .1);
        }

        .tooltip-arrow {
            border-color: $color;
        }
    }

    &.popover {
        $color: #f9f9f9;

        .popover-inner {
            background: $color;
            color: black;
            padding: 24px;
            border-radius: 0;
            box-shadow: 0 5px 30px rgba(black, .1);
        }

        .popover-arrow {
            border-color: $color;
        }
    }
}

.choices__list--dropdown {
    color: #333;
}

.choices__inner {
    border-radius: 5px !important;
}

.choices__list--multiple .choices__item {
    background-color: rgba(249, 115, 22) !important;
    border: 1px solid rgba(17, 24, 39, 1) !important;
}

.choices__input,
.choices__input--cloned {
    color: #333
}

.choices__placeholder {
    margin: 2px 0 2px;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 0px!important;
}
